In [8]:
#1
# 1)Write a Python program to get the Python version you are using

In [13]:
import sys

def get_python_version():
    return sys.version

if __name__ == "__main__":
    print("Python version:", get_python_version())

Python version: 3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [14]:
#2
## Write a Python program to display the current date and time

In [17]:
import datetime
x=datetime.datetime.now()
print(x)

2024-03-17 11:46:34.353201

In [18]:
#3
##  Write a Python program which accepts the radius of a circle from the user and compute the area.

In [23]:
pi=3.14
r=int(input("enter radius of circlr:"))
area=pi*r**2
print("The area of circle is:" ,area)

enter radius of circlr:2
The area of circle is: 12.56

In [24]:
#4
## 4)Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

In [25]:
result = 5.2 + True + bool(-5) - 4 + 42//5 + bool(0) + False + int(5.9) + float('1')
print(result)

17.2

In [26]:
#5
## Write code to test whether the given number lies between 1 and 10

In [48]:
num=int(input("enter any number:"))
if num>=1 and num<=10:
    print("No lies in Between 1 to 10:",num)
else:
    print("doen't lie")

enter any number:7
No lies in Between 1 to 10: 7

In [44]:
#6
## sum the numbers from 1 to 20 using for loop

In [60]:
total=0
for i in range(1,21):
    total+=i
    print("the sum of numbers from 1 to 20 is:",total)

the sum of numbers from 1 to 20 is: 1
the sum of numbers from 1 to 20 is: 3
the sum of numbers from 1 to 20 is: 6
the sum of numbers from 1 to 20 is: 10
the sum of numbers from 1 to 20 is: 15
the sum of numbers from 1 to 20 is: 21
the sum of numbers from 1 to 20 is: 28
the sum of numbers from 1 to 20 is: 36
the sum of numbers from 1 to 20 is: 45
the sum of numbers from 1 to 20 is: 55
the sum of numbers from 1 to 20 is: 66
the sum of numbers from 1 to 20 is: 78
the sum of numbers from 1 to 20 is: 91
the sum of numbers from 1 to 20 is: 105
the sum of numbers from 1 to 20 is: 120
the sum of numbers from 1 to 20 is: 136
the sum of numbers from 1 to 20 is: 153
the sum of numbers from 1 to 20 is: 171
the sum of numbers from 1 to 20 is: 190
the sum of numbers from 1 to 20 is: 210

In [61]:
# 7
##Display the numbers in reverse from 100 to 1

In [78]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [79]:
#8
## Display multiples of 2 from 10 to 50 using range

In [82]:
for num in range(10,51):
    if num%2==0:
        print("multiple of 2:",num)

multiple of 2: 10
multiple of 2: 12
multiple of 2: 14
multiple of 2: 16
multiple of 2: 18
multiple of 2: 20
multiple of 2: 22
multiple of 2: 24
multiple of 2: 26
multiple of 2: 28
multiple of 2: 30
multiple of 2: 32
multiple of 2: 34
multiple of 2: 36
multiple of 2: 38
multiple of 2: 40
multiple of 2: 42
multiple of 2: 44
multiple of 2: 46
multiple of 2: 48
multiple of 2: 50

In [83]:
#9
# From the below nested dictionary, pick the word "Bangalore". 
# d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [86]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}
word_bangalore = d['2'][1]['Two'][3]['Place'][3]
print(word_bangalore)

Bangalore

In [90]:
#10
## Use functions to return square of numbers from 2 to 5

In [97]:
def square():
    for i in range(2,6):
        num=int(input("enter no form 2 to 5:"))
        print(num**2)

In [98]:
square()

enter no form 2 to 5:2
4
enter no form 2 to 5:3
9
enter no form 2 to 5:4
16
enter no form 2 to 5:5
25