In [1]:
#1
## Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a 
## tuple with those numbers

In [11]:
order = ['first', 'second', 'third', 'fourth'] # 4 values are to be accepted
numbers = []  # the array to hold the list values
num = ("", "", "", "") # a initiated  tuple to store the values
 

for accord in order: 
    value = input("please enter a  value : " ) # User enter value
    numbers.append(value)
num = tuple(numbers)

print(num) # printing of the tuple does not work
print(numbers) # printing of the list does work

please enter a  value : 1
please enter a  value : 2
please enter a  value : 3
please enter a  value : 4
('1', '2', '3', '4')
['1', '2', '3', '4']

In [ ]:
#2
# Write a Python program to display the first and last colors from the following list.
# color_list = ["Red","Green","White" ,"Black"]

In [15]:
color_list=["Red","Green","White","Black"]
print(color_list[0])
print(color_list[3])

Red
Black

In [16]:
#3
# Write a Python program to calculate number of days between two dates.
# Sample dates : (2014, 7, 2), (2014, 7, 11)

In [22]:
from datetime import date


def days(date1, date2):
    if date2 > date1: 
        return (date2-date1).days
    else:
        return (date1-date2).days
    
date1 = date(2014, 7, 2)
date2 = date(2014, 7, 11)
print(days(date1, date2), "days")

9 days

In [23]:
#4
# Write a Python program to get the difference between a given number and 17,
# if the number is greater than 17 return double the absolute difference

In [30]:
num=int(input("enter any number:"))
x=num-17
if x>17:
    print(x**2)
else:
    print(x)

enter any number:40
529

In [31]:
#5
# To check whather given element exists in list or not??
# list=[1,2,3,4,5,6,7,8,9,10]
# check if 9 and 12 are present in given list or not

In [37]:
list=[1,2,3,4,5,6,7,8,9,10]
if 9 in list:
    print("9 is present in given list")
else:
    print("not present")
    
if 12 in list:
    print("12 is present in list")
else:
    print("12 is not present in list")

9 is present in given list
12 is not present in list

In [38]:
#6
# Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.
# And also it must return both addition and subtraction in a single return call

In [53]:
def calculation(x,y):
    add=x+y
    sub=x-y
    return add,sub

x=int(input("enter any number:"))
y=int(input("enter any number:"))

calculation(x,y)

enter any number:22
enter any number:10

(32, 12)

In [ ]:
#7
# Create a function showEmployee() in such a way that it should accept employee name, 
# and itâ€™s salary and display both,
# and if the salary is missing in function call it should show it as 9000

In [54]:
def showEmployee(name,salary):
    return name,salary

name=input("enter your name:")
salary=int(input("enter your salary:"))
if salary<0:
    print("9000")
    
showEmployee(name,salary)

enter your name:Anand Upesh Gandhamwar
enter your salary:1000000

('Anand Upesh Gandhamwar', 1000000)

In [55]:
#8
# Write a recursive function to calculate the sum of numbers from 0 to 10

In [61]:
def recursive_sum(n):
    if n == 0:
        return 0
    else:
        return n + recursive_sum(n - 1)

result = recursive_sum(10)

print("Sum of numbers from 0 to 10:", result)

Sum of numbers from 0 to 10: 55

In [62]:
#9
## Generate a Python list of all the even numbers between 4 to 30

In [65]:
even_numbers = [num for num in range(4, 31) if num % 2 == 0]

print("Even numbers between 4 and 30:", even_numbers)

Even numbers between 4 and 30: [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [66]:
#10
# Return the largest item from the given list

In [70]:
list=[1,44,27,81,36,4]
list.sort()
print("largest element of list:",list[-1])

largest element of list: 81