In [1]:
import pandas as pd

Series

In [2]:
# creating empty series

In [4]:
d=pd.Series()
d

Series([], dtype: object)

In [5]:
print(type(d))

<class 'pandas.core.series.Series'>

In [16]:
d=pd.Series(16)
d

0    16
dtype: int64

In [17]:
# creating series using tuple
t=(2,4,6)
a=pd.Series(t)
a

0    2
1    4
2    6
dtype: int64

In [18]:
# crating series using list
a=pd.Series([22,56,71,2,90])
a

0    22
1    56
2    71
3     2
4    90
dtype: int64

In [19]:
a=pd.Series((2,3,4))
a

0    2
1    3
2    4
dtype: int64

In [20]:
# creating series using array
import numpy as np
arr=np.array([1,3,5,7,9])
b=pd.Series(arr)
b

0    1
1    3
2    5
3    7
4    9
dtype: int32

In [34]:
arr2=np.array([1,3])
b1=pd.Series(arr2)
b1

0    1
1    3
dtype: int32

In [35]:
# using Dicitonary

In [36]:
d={'a':1,'b':2,'c':3}
d

{'a': 1, 'b': 2, 'c': 3}

In [38]:
d.values()

dict_values([1, 2, 3])

In [39]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [40]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [41]:
d['a']

1

In [42]:
d['c']

3

In [43]:
a=pd.Series(d)
a

a    1
b    2
c    3
dtype: int64

In [45]:
a[0]

1

In [47]:
a['a']

1

In [48]:
# siling operation

In [49]:
b=pd.Series([1,2,3,4,5,6,7,8,9,10])
b

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [51]:
b[0:8]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [54]:
b[[2,3,8,9]]

2     3
3     4
8     9
9    10
dtype: int64

In [55]:
b[2]=13  ## changing the element

In [56]:
b

0     1
1     2
2    13
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [59]:
arr3=np.array([5,6,7,8])
s=pd.Series(arr3,index=['one','two','three','four'])
s

one      5
two      6
three    7
four     8
dtype: int32

In [60]:
arr4=np.array([1,2,3,4])
s1=pd.Series(arr4)

In [61]:
s1

0    1
1    2
2    3
3    4
dtype: int32