In [1]:
numbers=(2,9,-3,0,4)
numbers
# tuples are closed in curve braces

(2, 9, -3, 0, 4)

In [2]:
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

In [3]:
tuple2 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2[1][1]

20

In [4]:
tuple3 = (50)
tuple3

50

In [10]:
tuple4 = (10, 20, 30, 40)
a,b,c,d = tuple4
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [28]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1,tuple2 = tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [31]:
t1=(11, 22, 33, 44, 55, 66)
t2=(44,55)
t1=t2
t2

(44, 55)

In [1]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
tuple1

(11, [222, 33], 44, 55)

In [1]:
#Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [6]:
# Counts the number of occurrences of item 50 from a tuple

tup1=(10,50,30,40,50)
tup1.count(50)

2

In [9]:
tuple2 = (45, 45, 45, 45)
45 in tuple2

True