In [1]:
# Set Questions : 10

In [2]:
#Return a new set of identical items from two sets

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

In [3]:
#Get Only unique items from two sets

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

In [4]:
# Update the first set with items that donâ€™t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference(set2)

{10, 30}

In [11]:
#Remove items from the set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
set1

{40, 50}

In [14]:
# show that disha is in string or not
set={1,4,5,7,'shraddha','disha',(2.66,6,44),56}
"disha" in set

True

In [16]:
# if yes then output should be false
set={1,4,5,7,'shraddha','disha',(2.66,6,44),56}
"disha" not in set

False

In [17]:
#print len of set
set={1,4,5,7,'shraddha','disha',(2.66,6,44),56,5,1}
len(set)

8

In [20]:
# Remove items from set1 that are not common to both set1 and set2

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
set1

{30, 40, 50}

In [22]:
#Write a Python program to add member(s) to a set.
s1={34,6,3,25,'anand','shrushti',(2.66,6,44),56,5,1}
s1.add('chetan')
s1

{(2.66, 6, 44), 1, 25, 3, 34, 5, 56, 6, 'anand', 'chetan', 'shrushti'}

In [24]:
# Write a Python program to remove all elements from a given set.
s1={34,6,3,25,'anand','shrushti',(2.66,6,44),56,5,1}
s1.clear()
s1

set()

In [29]:
# print max and min
set={1,88,4,90,2,71}
max(set)

90

In [30]:
min(set)

1